body{
   
    text-align: center;
    margin-top: 50px;
}
#box{
    background-color: aquamarine;
    padding: 50px;
    
    
}

label{
    font-family: fantasy;
}
#temperatura{
    width: 100px;
    padding: 5px; 
    border-radius: 20px;

}
#converter{
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    font-family: fantasy;
    color:black ;
}
#resultado{
    font-family: fantasy;
    margin-top: 20px;
}